@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

body {
	font-family: "Fredoka", sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

.navbar {
	@apply left-0 pl-5 -mt-5 lg:-mt-0 bg-white;
}

.hamburger-costum {
	@apply w-[30px] h-[2px] my-2 block bg-black;
}

.hamburger-click > span:nth-child(1) {
	@apply -rotate-45;
}

.hamburger-click > span:nth-child(2) {
	@apply scale-0;
}

.hamburger-click > span:nth-child(3) {
	@apply rotate-45;
}
